@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model FYP.DB.ViewModels.PurchaseViewModel

@{
    ViewData["Title"] = "Create Purchase Order";
}

@*<h1></h1>*@

<h4>Create New Purchase Order</h4>
<hr />
@using (Html.BeginForm("Create", "Purchase_Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.vendor_id" class="control-label"></label>
                <select asp-for="PurchaseOrder.vendor_id" class="form-control" asp-items="ViewBag.vendor_id"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="PurchaseOrder.doc_name" class="control-label"></label>
                <input asp-for="PurchaseOrder.doc_name" class="form-control" />
                <span asp-validation-for="PurchaseOrder.doc_name" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PurchaseOrder.create_date" class="control-label"></label>
                <input asp-for="PurchaseOrder.create_date" class="form-control" />
                <span asp-validation-for="PurchaseOrder.create_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.payment_method" class="control-label"></label>
                <select asp-for="PurchaseOrder.payment_method" class="form-control" asp-items="ViewBag.payment_method"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        @*</form>*@
    </div>
</div>

<div>
    <div class="row">
        <div class="col-9">
            <h4>Line Items</h4>
        </div>
        <div class="col-3 text-right">
            <button type="button" id="addLineItem" class="btn btn-primary">Add Line Item</button>
        </div>
    </div>
    <br>

    <table class="table table-bordered border-dark">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="lineItemsBody">
            @for (int i = 0; i < Model.PurchaseItems.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.PurchaseItems[i].product_id, (SelectList)ViewData["product_id"], "Select a Product", new { @class = "form-control" })
                        <span asp-validation-for="PurchaseItems[i].product_id" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PurchaseItems[i].quantity" class="form-control" />
                        <span asp-validation-for="PurchaseItems[i].quantity" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PurchaseItems[i].price" class="form-control" />
                        <span asp-validation-for="PurchaseItems[i].price" class="text-danger"></span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger removeLineItem">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@
@section Scripts {
    <script>
        $(document).ready(function () {
            var index = @Model.PurchaseItems.Count;

            $('#addLineItem').click(function () {
                var newRow = '<tr>' +
                    '<td><select class="form-control" name="PurchaseItems[' + index + '].product_id"><option value="">Select a Product</option></select></td>' +
                    '<td><input type="number" class="form-control" name="PurchaseItems[' + index + '].quantity" /></td>' +
                    '<td><input type="number" class="form-control" name="PurchaseItems[' + index + '].price" /></td>' +
                    '<td><button type="button" class="btn btn-danger removeLineItem">Remove</button></td>' +
                    '</tr>';

                $('#lineItemsBody').append(newRow);

                var select = $('select[name="PurchaseItems[' + index + '].product_id"]');
                $.get('@Url.Action("GetProducts", "Products")', function (data) {
                    select.empty();
                    $.each(data, function (index, item) {
                        select.append($('<option></option>').val(item.value).text(item.text));
                    });
                });

                index++;
            });

            $(document).on('click', '.removeLineItem', function () {
                $(this).closest('tr').remove();
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
