@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            @*href="index.html*@
            <a class="nav-link" asp-action="Index" asp-controller="Home">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Template/pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Template/pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Sales</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Sale_Order">Sale Order</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Sale_Order_Detail">Sale Order Details</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Purchase</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Purchase_Order">Purchase Order</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Purchase_Order_Detail">Purchase Order Details</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Transfers</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="GRNIndex" asp-controller="Transfers">Goods Receipt Note</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="DNIndex" asp-controller="Transfers">Delivery Note</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Partners</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Vendors">Vendors</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Customers">Customers</a></li>
                </ul>
            </div>
        </li>
      @*  <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Categories">
                <i class="ti-layout-list-post menu-icon"></i>
                <span class="menu-title">Categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Products">
                <i class="ti-layout-list-post menu-icon"></i>
                <span class="menu-title">Products</span>
            </a>
        </li>
*@
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Products">Products</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Categories">Categories</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Finance</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic5">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Account_Move">Journal Entries</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Customers">Customers</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Payments">Payment Methods</a></li>
                </ul>
            </div>
        </li>
        
        @*<li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="ti-pie-chart menu-icon"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>*@
        
    </ul>
</nav>